.left{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.right{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}